<div class="flex justify-center items-center">
    <mat-spinner *ngIf="doctorsLoading; else doctorsLoaded"></mat-spinner>
    <ng-template #doctorsLoaded>
        <form
            [formGroup]="patientForm"
            (submit)="onBookAppointment()"
            class="m-8 grid grid-cols-2 gap-4 justify-items-center items-center"
        >
            <mat-form-field>
                <mat-select
                    placeholder="Select specialization"
                    (selectionChange)="onSelectSpecialization($event.value)"
                >
                    <mat-option
                        *ngFor="let specialization of specializations | async"
                        [value]="specialization"
                        >{{ specialization }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Enter temperature"
                    formControlName="temperature"
                    type="number"
                />
                <span matSuffix class="mr-2">°C</span>
            </mat-form-field>
            <mat-form-field>
                <mat-select
                    formControlName="doctorId"
                    placeholder="Select doctor"
                >
                    <mat-option
                        *ngFor="let doctor of doctors_list | async"
                        [value]="doctor.id"
                    >
                        {{ "Dr. " + doctor.firstName + " " + doctor.lastName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Enter Weight"
                    formControlName="weight"
                    type="number"
                />
                <span matSuffix class="mr-2">Kg</span>
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Enter purpose"
                    formControlName="purpose"
                />
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Enter Heart Rate"
                    formControlName="heartRate"
                    type="number"
                />
                <span matSuffix class="mr-2">bpm</span>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter Blood Pressure</mat-label>
                <input
                    matInput
                    placeholder="Enter Blood Pressure"
                    formControlName="bloodPressure"
                />
            </mat-form-field>
            <button
                mat-stroked-button
                type="submit"
                color="primary"
                [disabled]="!patientForm.get('doctorId').value"
            >
                Book Appointment
            </button>
        </form>
    </ng-template>
</div>
