<div class="flex justify-center items-center">
    <mat-spinner *ngIf="doctorsLoading; else doctorsLoaded"></mat-spinner>
    <ng-template #doctorsLoaded>
        <form class="m-8 grid grid-cols-2 gap-4 justify-items-center items-center">
            <mat-form-field>
                <mat-select
                    placeholder="Select specialization"
                    (selectionChange)="onSelectSpecialization($event.value)"
                >
                    <mat-option
                        *ngFor="let specialization of specializations | async"
                        [value]="specialization"
                        >{{ specialization }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Enter temperature" />
            </mat-form-field>
            <mat-form-field>
                <mat-select
                    placeholder="Select doctor"
                    (selectionChange)="onSelectDoctor($event.value)"
                >
                    <mat-option
                        *ngFor="let doctor of doctors_list | async"
                        [value]="doctor.id"
                    >
                        {{ "Dr. " + doctor.firstName + " " + doctor.lastName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input
                    type="text"
                    matInput
                    placeholder="Enter Blood Pressure"
                />
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Enter purpose"
                    (keyup)="updatePurpose($event.target)"
                />
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Enter Weight" />
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Enter Height" />
            </mat-form-field>
            <button
                mat-stroked-button
                type="button"
                color="primary"
                [disabled]="selected_doctor_id == null"
                (click)="onBookAppointment()"
            >
                Book Appointment
            </button>
        </form>
    </ng-template>
</div>
