.expanded-row-detail{
    padding: 12px;
    display: flex;
    justify-content: center;
    .expansion-table{
        width: 90%;
        border-collapse: collapse;
        tr,th,td{border: solid 1px black;}
        th,td{text-align: left;padding: 3px 4px;}
    }
}