<div class="h-full w-full flex justify-evenly">
    @if (!isTablet) {
    <div class="w-1/5">
        <mat-calendar
            [selected]="selectedDate"
            (selectedChange)="onDateChange($event)"
        />
        <button mat-button (click)="setToday()">Today</button>
        <button mat-button (click)="setTomorrow()">Tomorrow</button>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    }
    <div
        [ngClass]="{
            'h-full w-full flex justify-center items-center': isTablet,
            'w-2/3': !isTablet
        }"
        class="mt-8"
        *ngIf="isLoading; else notLoadingContent"
    >
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #notLoadingContent>
        <div
            [ngClass]="{ 'w-full px-8': isTablet, 'w-2/3': !isTablet }"
            class="mt-8"
        >
            <div class="w-full mb-8 flex justify-between items-center">
                @if (isTablet) {
                <div class="flex justify-center items-center">
                    <mat-form-field style="width: 0px; visibility: hidden">
                        <input
                            matInput
                            [matDatepicker]="picker"
                            (dateChange)="onDateChange($event.value)"
                        />
                        <mat-datepicker
                            #picker
                        ></mat-datepicker> </mat-form-field
                    >
                    <button
                        mat-fab
                        color="primary"
                        type="button"
                        (click)="picker.open()"
                    >
                        <mat-icon>calendar_month</mat-icon>
                    </button>
                </div>
                }
                <mat-button-toggle-group
                    value="all"
                    name="appointmentStatus"
                    (change)="onStatusToggle($event.value)"
                >
                    <mat-button-toggle value="all">All</mat-button-toggle>
                    <mat-button-toggle value="upcoming"
                        >Upcoming</mat-button-toggle
                    >
                    <mat-button-toggle value="completed">
                        Completed
                    </mat-button-toggle>
                    <mat-button-toggle value="cancelled">
                        Cancelled
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <mat-divider></mat-divider>
            <ng-template #noAppointmentsFound>
                <div class="mt-8">
                    <span class="text-xl">No Appointments found!</span>
                </div>
            </ng-template>
            <div
                class="mt-8"
                *ngIf="displayAppointments.length > 0; else noAppointmentsFound"
            >
                <mat-accordion>
                    <mat-expansion-panel
                        *ngFor="let appointment of displayAppointments"
                    >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{
                                    "P" +
                                        appointment.patientId
                                            .toString()
                                            .padStart(3, "0")
                                }}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ formatTime(appointment.slot) }}
                            </mat-panel-description>
                            @if (appointment.completed==1) {
                            <mat-icon
                                svgIcon="stethoscope_check"
                                class="mr-4"
                                matTooltip="Completed"
                            ></mat-icon>
                            }@else if (appointment.completed==-1) {
                            <mat-icon
                                svgIcon="cancel"
                                class="mr-4"
                                matTooltip="Cancelled"
                            ></mat-icon>
                            }@else if (isPast) {
                            <mat-icon
                                svgIcon="warning"
                                class="mr-4"
                                matTooltip="Expired"
                            ></mat-icon>
                            }
                        </mat-expansion-panel-header>
                        <div class="flex w-2/3 justify-between">
                            <section>
                                Appointment ID:
                                {{
                                    "A" +
                                        appointment.appointmentId
                                            .toString()
                                            .padStart(3, "0")
                                }}
                                <br />
                                Name: {{ appointment.name }}<br />
                                Gender: {{ appointment.gender }} <br />
                                Age: {{ appointment.dateOfBirth | age }}<br />
                                Contact: {{ appointment.contact }}
                            </section>
                            <section>
                                Purpose:
                                {{
                                    appointment.purpose
                                        ? appointment.purpose
                                        : "-"
                                }}<br />
                                Blood Pressure:
                                {{
                                    appointment.bloodPressure
                                        ? appointment.bloodPressure
                                        : "-"
                                }}<br />
                                Temperature:
                                {{
                                    appointment.temperature
                                        ? appointment.temperature + " °C"
                                        : "-"
                                }}<br />
                                Weight:
                                {{
                                    appointment.weight
                                        ? appointment.weight + " Kg"
                                        : "-"
                                }}<br />
                                Heart Rate:
                                {{
                                    appointment.heartRate
                                        ? appointment.heartRate + " bpm"
                                        : "-"
                                }}
                            </section>
                        </div>
                        <mat-action-row>
                            <div class="w-full flex justify-between">
                                <div class="-ml-2">
                                    <button
                                        mat-stroked-button
                                        color="primary"
                                        (click)="
                                            viewHistory(
                                                appointment.patientId,
                                                appointment.slot
                                            )
                                        "
                                    >
                                        View Patient History
                                    </button>
                                </div>
                                <div class="mr-4">
                                    <button
                                        *ngIf="
                                            !isPast &&
                                            appointment.completed == 0
                                        "
                                        mat-button
                                        color="warn"
                                        (click)="
                                            cancelAppointment(
                                                appointment.appointmentId
                                            )
                                        "
                                    >
                                        Cancel
                                    </button>
                                    <button
                                        *ngIf="
                                            isToday &&
                                            appointment.completed == 0
                                        "
                                        mat-raised-button
                                        color="primary"
                                        (click)="
                                            finishAppointment(
                                                appointment.appointmentId
                                            )
                                        "
                                    >
                                        Finish
                                    </button>
                                </div>
                            </div>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </ng-template>
</div>
