<div class="h-full w-full flex justify-evenly">
    <div class="w-1/5">
        <mat-calendar
            [selected]="selectedDate"
            (selectedChange)="onDateChange($event)"
        />
        <button mat-button (click)="setToday()">Today</button>
        <button mat-button (click)="setTomorrow()">Tomorrow</button>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="w-2/3 mt-8" *ngIf="isLoading; else notLoadingContent">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #notLoadingContent>
        <div class="w-2/3 mt-8">
            <mat-button-toggle-group
                value="all"
                name="appointmentStatus"
                (change)="onStatusToggle($event.value)"
                class="mb-8"
            >
                <mat-button-toggle value="all">All</mat-button-toggle>
                <mat-button-toggle value="upcoming">Upcoming</mat-button-toggle>
                <mat-button-toggle value="completed">
                    Completed
                </mat-button-toggle>
                <mat-button-toggle value="cancelled">
                    Cancelled
                </mat-button-toggle>
            </mat-button-toggle-group>
            <ng-template #noAppointmentsFound>
                <div>
                    <span class="text-xl">No Appointments found!</span>
                </div>
            </ng-template>
            <div
                *ngIf="displayAppointments.length > 0; else noAppointmentsFound"
            >
                <mat-accordion>
                    <mat-expansion-panel
                        *ngFor="let appointment of displayAppointments"
                    >
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{
                                    "P" +
                                        appointment.patientId
                                            .toString()
                                            .padStart(3, "0")
                                }}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ formatTime(appointment.slot) }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="flex w-2/3 justify-between">
                            <section>
                                Appointment ID:
                                {{
                                    "A" +
                                        appointment.appointmentId
                                            .toString()
                                            .padStart(3, "0")
                                }}
                                <br />
                                Name: {{ appointment.name }}<br />
                                Gender: {{ appointment.gender }} <br />
                                Age: {{ appointment.dateOfBirth | age }}<br />
                                Contact: {{ appointment.contact }}
                            </section>
                            <section>
                                Purpose:
                                {{
                                    appointment.purpose
                                        ? appointment.purpose
                                        : "-"
                                }}<br />
                                Blood Pressure:
                                {{
                                    appointment.bloodPressure
                                        ? appointment.bloodPressure
                                        : "-"
                                }}<br />
                                Temperature:
                                {{
                                    appointment.temperature
                                        ? appointment.temperature + " °C"
                                        : "-"
                                }}<br />
                                Weight:
                                {{
                                    appointment.weight
                                        ? appointment.weight + " Kg"
                                        : "-"
                                }}<br />
                                Heart Rate:
                                {{
                                    appointment.heartRate
                                        ? appointment.heartRate + " bpm"
                                        : "-"
                                }}
                            </section>
                        </div>
                        <mat-action-row>
                            <div class="w-full flex justify-between">
                                <div class="-ml-2">
                                    <button
                                        mat-stroked-button
                                        color="primary"
                                        (click)="
                                            viewHistory(appointment.patientId,appointment.slot)
                                        "
                                    >
                                        View Patient History
                                    </button>
                                </div>
                                <div class="mr-4">
                                    <button
                                        *ngIf="
                                            !isPast &&
                                            appointment.completed == 0
                                        "
                                        mat-button
                                        color="warn"
                                        (click)="
                                            cancelAppointment(
                                                appointment.appointmentId
                                            )
                                        "
                                    >
                                        Cancel
                                    </button>
                                    <button
                                        *ngIf="
                                            isToday &&
                                            appointment.completed == 0
                                        "
                                        mat-raised-button
                                        color="primary"
                                        (click)="
                                            finishAppointment(
                                                appointment.appointmentId
                                            )
                                        "
                                    >
                                        Finish
                                    </button>
                                </div>
                            </div>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </ng-template>
</div>
