<h2 mat-dialog-title>Appointment ID: {{ prescription.appointment_id }}</h2>
<mat-dialog-content>
    <app-canvas [pen_state]="pen_state"></app-canvas>
</mat-dialog-content>
<mat-dialog-actions>
    <mat-button-toggle-group [value]="pen_state" class="mr-4">
        <mat-button-toggle value="write" (click)="setPenStatus('write')">Write</mat-button-toggle>
        <mat-button-toggle value="erase" (click)="setPenStatus('erase')">Erase</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-raised-button color="accent" (click)="onClearPad()">Clear</button>
    <button mat-raised-button color="primary" (click)="savePrescription()">Save</button>
    <button mat-stroked-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>
