<div class="h-full w-full flex flex-col items-center">
    <div class="mt-8">
        <h2>Your Ward Allocations</h2>
    </div>
    <mat-accordion id="wards-accordian" class="w-2/3 mt-8">
        <mat-expansion-panel
            *ngFor="let ward of allotedWards"
            [disabled]="ward.availableStatus"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ "W" + ward.wardNumber.toString().padStart(2, "0") }}
                </mat-panel-title>
                <mat-panel-description>
                    {{
                        ward.availableStatus == true ? "Available" : "Occupied"
                    }}
                    <mat-icon
                        *ngIf="ward.emergency"
                        [svgIcon]="'warning'"
                    ></mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex w-2/3 justify-between">
                <section>
                    Name:
                    {{
                        ward.firstName +
                            " " +
                            ward.middleName +
                            " " +
                            ward.lastName
                    }}<br />
                    Gender: {{ ward.gender }} <br />
                    Age: {{ ward.dateOfBirth | age }}<br />
                    Contact: {{ ward.contact }} <br />
                    Purpose: {{ ward.purpose }}
                </section>
                <section>
                    Blood Pressure:
                    {{ ward.bloodPressure ? ward.bloodPressure : "-" }}<br />
                    Temperature:
                    {{ ward.temperature ? ward.temperature + " °C" : "-"
                    }}<br />
                    Weight:
                    {{ ward.weight ? ward.weight + " Kg" : "-" }}<br />
                    Heart Rate:
                    {{ ward.heartRate ? ward.heartRate + " bpm" : "-" }}
                </section>
            </div>
            <mat-action-row>
                <button
                    mat-stroked-button
                    color="primary"
                    (click)="viewHistory(ward.patientId)"
                >
                    View Patient History
                </button>
                <button
                    mat-stroked-button
                    color="warn"
                    (click)="toggleEmergency(ward.wardId, ward.emergency)"
                >
                    {{ ward.emergency ? "Revoke Emergency" : "Call Emergency" }}
                </button>
                <button
                    mat-button
                    color="primary"
                    (click)="editDetails(ward.wardId)"
                >
                    Edit Details
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
