<h2 mat-dialog-title>Edit Doctor Form</h2>
<form
    [formGroup]="editdoctorForm"
    class="flex flex-col justify-between m-8 h-96"
>
    <div class="row flex justify-between">
        <mat-form-field class="mr-4">
            <mat-label>First Name</mat-label>
            <input
                matInput
                formControlName="firstName"
                [value]="tableDataDoctor?.firstName"
            />
        </mat-form-field>

        <mat-form-field class="mr-4">
            <mat-label>Middle Name</mat-label>
            <input
                matInput
                formControlName="middleName"
                [value]="tableDataDoctor?.middleName"
            />
        </mat-form-field>

        <mat-form-field class="mr-4">
            <mat-label>Last Name</mat-label>
            <input
                matInput
                formControlName="lastName"
                [value]="tableDataDoctor?.lastName"
            />
        </mat-form-field>
    </div>

    <div class="row flex justify-between">
        <mat-form-field class="mr-4">
            <mat-label>Gender</mat-label>
            <mat-select
                formControlName="gender"
                [value]="tableDataDoctor?.gender"
            >
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
                <mat-option value="notSpecified">Not Specified</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="mr-4">
            <mat-label>Date of Birth</mat-label>
            <input
                matInput
                formControlName="dateOfBirth"
                [matDatepicker]="picker"
                [value]="tableDataDoctor?.dateOfBirth"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="mr-4">
            <mat-label>Country</mat-label>
            <input
                matInput
                formControlName="country"
                [value]="tableDataDoctor?.country"
            />
        </mat-form-field>
    </div>

    <div class="row flex justify-between">

        <mat-form-field class="mr-4">
            <mat-label>State</mat-label>
            <input
                matInput
                formControlName="state"
                [value]="tableDataDoctor?.state"
            />
        </mat-form-field>

        <mat-form-field class="mr-4">
            <mat-label>City</mat-label>
            <input
                matInput
                formControlName="city"
                [value]="tableDataDoctor?.city"
            />
        </mat-form-field>

        <mat-form-field class="mr-4">
            <mat-label>Address Line 1</mat-label>
            <input
                matInput
                formControlName="addressLine1"
                [value]="tableDataDoctor?.addressLine1"
            />
        </mat-form-field>
    </div>

    <div class="row justify-between">
        <mat-form-field class="mr-4">
            <mat-label>Address Line 2</mat-label>
            <input
                matInput
                formControlName="addressLine2"
                [value]="tableDataDoctor?.addressLine2"
            />
        </mat-form-field>

        <mat-form-field class="mr-4">
            <mat-label>Landmark</mat-label>
            <input
                matInput
                formControlName="landmark"
                [value]="tableDataDoctor?.landmark"
            />
        </mat-form-field>

        <mat-form-field class="mr-4">
            <mat-label>Pincode</mat-label>
            <input
                matInput
                formControlName="pinCode"
                [value]="tableDataDoctor?.pinCode"
            />
        </mat-form-field>
    </div>

    <div class="row justify-between">
        <mat-form-field class="mr-4">
            <mat-label>Contact</mat-label>
            <input
                matInput
                formControlName="contact"
                [value]="tableDataDoctor?.contact"
            />
        </mat-form-field>
        <mat-form-field class="mr-4">
            <mat-label>Emergency Contact Name</mat-label>
            <input
                matInput
                formControlName="emergencyContactName"
                [value]="tableDataDoctor?.emergencyContactName"
            />
        </mat-form-field>

        <mat-form-field class="mr-4">
            <mat-label>Emergency Contact Number</mat-label>
            <input
                matInput
                formControlName="emergencyContactNumber"
                [value]="tableDataDoctor?.emergencyContactNumber"
            />
        </mat-form-field>
    </div>

    <!-- Doctor Specific fields -->
    <div class="row flex justify-around">
        <mat-form-field class="mr-4">
            <mat-label>Medical License Number</mat-label>
            <input
                matInput
                formControlName="medicalLicenseNumber"
                [value]="tableDataDoctor?.medicalLicenseNumber"
            />
        </mat-form-field>

        <mat-form-field class="mr-4">
            <mat-label>Specialization</mat-label>
            <input
                matInput
                formControlName="specialization"
                [value]="tableDataDoctor?.specialization"
            />
        </mat-form-field>
    </div>

    <div class="row flex justify-around">
        <mat-form-field class="mr-4">
            <mat-label>Work Start</mat-label>
            <input
                matInput
                formControlName="workStart"
                placeholder="09:00:00"
                [value]="tableDataDoctor?.workStart"
            />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Work End</mat-label>
            <input
                matInput
                formControlName="workEnd"
                placeholder="09:00:00"
                [value]="tableDataDoctor?.workEnd"
            />
        </mat-form-field>
    </div>

    <div class="row flex justify-around">
        <app-single-file-upload
            [label]="'Medical Degree'"
            [fileTypes]="['application/pdf']"
            [fileData]="tableDataDoctor?.medicalDegree"
            (selected)="onMedicalDegreeSelected($event)"
        ></app-single-file-upload>

        <app-single-file-upload
            [label]="'CV'"
            [fileTypes]="['application/pdf']"
            [fileData]="tableDataDoctor?.cv"
            (selected)="onCVSelected($event)"
        ></app-single-file-upload>

        <app-single-file-upload
            [label]="'Drug Screening Result'"
            [fileTypes]="['application/pdf']"
            [fileData]="tableDataDoctor?.drugScreeningResult"
            (selected)="onDrugScreeningResultSelected($event)"
        ></app-single-file-upload>
    </div>

    <div class="row flex justify-around">
        <app-single-file-upload
            [label]="'Board Certification'"
            [fileTypes]="['application/pdf']"
            [fileData]="tableDataDoctor?.boardCertification"
            (selected)="onBoardCertificationSelected($event)"
        ></app-single-file-upload>
    </div>

    <div class="row text-center p-4 text-xs">
        *Note: For Board Certification, Medical Degree, CV and Drug Screening
        Result only pdf file is expected
    </div>

    <div class="row mt-3 text-center p-4">
        <button
            mat-stroked-button
            type="submit"
            color="primary"
            (click)="onEditSaveDoctor()"
        >
            Save
        </button>
    </div>
</form>
