<mat-toolbar class="justify-between" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="patients">Reception Portal</a>
    <div class="flex justify-center items-center">
        <button mat-icon-button class="mr-4" (click)="callEmergency()">
            <mat-icon
                [svgIcon]="
                    emergency
                        ? 'e911_emergency_filled'
                        : 'e911_emergency_outline'
                "
            ></mat-icon>
        </button>
        <div [matMenuTriggerFor]="menu">
            @if (user&&user.profilePicture) {
            <img
                [src]="user.profilePicture"
                alt="Menu"
                class="mt-2 h-10 w-10 rounded-full"
            />
            }
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="my_profile">
                <mat-icon svgIcon="account_circle"></mat-icon>
                <span>My Profile</span>
            </button>
            <button mat-menu-item (click)="changeUserPassword()">
                <mat-icon svgIcon="password"></mat-icon>
                <span>Change Password</span>
            </button>
            <button mat-menu-item (click)="onLogout()">
                <mat-icon svgIcon="logout"></mat-icon>
                <span>Log Out</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>
<mat-sidenav-container class="min-h-full">
    <mat-sidenav #sidenav mode="push">
        <mat-nav-list (click)="sidenav.toggle()">
            <mat-list-item
                *ngFor="let route of routes"
                [routerLink]="route.link"
            >
                <mat-icon matListItemIcon [svgIcon]="route.icon" />
                <div matListItemTitle>{{ route.title }}</div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-divider></mat-divider>
<footer class="h-24 w-full flex justify-center items-center bg-gray-500">
    <span class="text-white">{{ "All rights reserved@HADTeam16" }}</span>
</footer>
