@if (isLoading) {
<mat-spinner></mat-spinner>
}@else {
<form
    [formGroup]="changeUserPasswordForm"
    class="m-4 flex flex-col justify-between"
>
    <mat-form-field>
        <mat-label>Old Password</mat-label>
        <input matInput formControlName="oldPassword" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" />
    </mat-form-field>

    <div mat-dialog-actions align="end">
        <button
            type="submit"
            mat-stroked-button
            color="primary"
            (click)="changeUserPassword()"
        >
            Update
        </button>
    </div>
</form>
}
