<div class="flex flex-col justify-between m-8">
    <h2 mat-dialog-title>{{ editDetails.id }}</h2>
    <h3 mat-dialog-title>{{ editDetails.firstName }}</h3>

    <form
        [formGroup]="editPatientDetailsForm"
        class="flex flex-col justify-between"
    >
        <div class="row">
            <mat-form-field>
                <mat-label>Blood Pressure :</mat-label>
                <input
                    matInput
                    formControlName="bloodPressure"
                    [value]="editDetails?.bloodPressure"
                    class="w-full"
                />
            </mat-form-field>

            <mat-form-field class="mr-2">
                <mat-label>Temprature :</mat-label>
                <input
                    matInput
                    formControlName="temprature"
                    [value]="editDetails?.temperature"
                    class="w-full"
                />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Height :</mat-label>
                <input
                    matInput
                    formControlName="height"
                    [value]="editDetails?.height"
                    class="w-full"
                />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Weight :</mat-label>
                <input
                    matInput
                    formControlName="weight"
                    [value]="editDetails?.weight"
                    class="w-full"
                />
            </mat-form-field>
        </div>

        <div class="row mt-6 flex justify-end">
            <button
                mat-stroked-button
                color="primary"
                (click)="editAssignedPatientDetails()"
            >
                Edit
            </button>
        </div>
    </form>
</div>
