.example-stepper {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.stepper-actions {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 8px 0px;
}

#personalForm {
    mat-form-field {
        width: 30%;
    }
    #name-section,
    #dob-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

#addressForm {
    mat-form-field {
        width: 30%;
    }
    #address-line-section,
    #city-section,
    #pincode-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

#contactForm {
    mat-form-field {
        width: 30%;
    }
    #contact-section,
    #email-section {
        display: flex;
        align-items: center;
        button {
            width: 150px;
            margin: 0px 48px;
        }
        .verified-icon{
            margin-left: 24px;
            transform: scale(1.5);
            color: green;
        }
    }
    #emergency-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

#patientForm {
    #temp-section,
    #height-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}
