.example-stepper {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

#personalForm {
    #name-section,
    #dob-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

#addressForm {
    #address-line-section,
    #city-section,
    #pincode-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

#contactForm {
    #contact-section,#email-section{
        display: flex;
        align-items: center;
        button{
            margin-left: 64px;
        }
    }
    #emergency-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
}

#contactForm,
#patientForm {
    display: flex;
    flex-direction: column;
    mat-form-field {
        width: 300px;
    }
}
