<div class="p-4">
    <header class="flex p-4"><h1>Patient registration</h1></header>
    <mat-stepper
        class="example-stepper shadow-md"
        [orientation]="(stepperOrientation | async)!"
        linear
    >
        <!-- Personal Details Step -->
        <mat-step [stepControl]="personalDetailsFormGroup">
            <ng-template matStepLabel>Personal Details</ng-template>
            <form [formGroup]="personalDetailsFormGroup" id="personalForm">
                <section id="name-section">
                    <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input
                            matInput
                            formControlName="firstName"
                            placeholder="First Name"
                            required
                        />
                        <mat-error
                            *ngIf="
                                personalDetailsFormGroup
                                    .get('firstName')
                                    .hasError('required')
                            "
                        >
                            First Name is required!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Middle Name</mat-label>
                        <input
                            matInput
                            formControlName="middleName"
                            placeholder="Middle Name"
                        />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input
                            matInput
                            formControlName="lastName"
                            placeholder="Last Name"
                        />
                    </mat-form-field>
                </section>
                <section id="dob-section">
                    <mat-form-field>
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender" required>
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                            <mat-option value="notSpecified"
                                >Undisclosed</mat-option
                            >
                        </mat-select>
                        <mat-error
                            *ngIf="
                                personalDetailsFormGroup
                                    .get('gender')
                                    .hasError('required')
                            "
                        >
                            Gender is required!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Date of Birth</mat-label>
                        <input
                            matInput
                            [matDatepicker]="dobPicker"
                            formControlName="dateOfBirth"
                            placeholder="Date of Birth"
                            required
                            [max]="getTodaysDate()"
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="dobPicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #dobPicker></mat-datepicker>
                        <mat-error
                            *ngIf="
                                personalDetailsFormGroup
                                    .get('dateOfBirth')
                                    .hasError('required')
                            "
                        >
                            Date of birth is required!
                        </mat-error>
                    </mat-form-field>
                    <app-single-file-upload
                        [label]="'Upload profile picture'"
                        (selected)="onProfilePicUpload($event)"
                    ></app-single-file-upload>
                </section>
            </form>
            <div class="stepper-actions">
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

        <!-- Address Details Step -->
        <mat-step [stepControl]="addressDetailsFormGroup">
            <ng-template matStepLabel>Address Details</ng-template>
            <form [formGroup]="addressDetailsFormGroup" id="addressForm">
                <section id="address-line-section">
                    <mat-form-field>
                        <mat-label>Address Line 1</mat-label>
                        <input
                            matInput
                            formControlName="addressLine1"
                            placeholder="Address line 1"
                            required
                        />
                        <mat-error
                            *ngIf="
                                addressDetailsFormGroup
                                    .get('addressLine1')
                                    .hasError('required')
                            "
                            >Address line 1 is required!</mat-error
                        >
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Address Line 2</mat-label>
                        <input
                            matInput
                            formControlName="addressLine2"
                            placeholder="Address line 2"
                        />
                    </mat-form-field>
                </section>
                <section id="city-section">
                    <mat-form-field>
                        <mat-label>City</mat-label>
                        <input
                            matInput
                            formControlName="city"
                            placeholder="City"
                            required
                        />
                        <mat-error
                            *ngIf="
                                addressDetailsFormGroup
                                    .get('city')
                                    .hasError('required')
                            "
                            >City is required!</mat-error
                        >
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>State</mat-label>
                        <input
                            matInput
                            formControlName="state"
                            placeholder="State"
                            required
                        />
                        <mat-error
                            *ngIf="
                                addressDetailsFormGroup
                                    .get('state')
                                    .hasError('required')
                            "
                            >State is required!</mat-error
                        >
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <input
                            matInput
                            formControlName="country"
                            placeholder="Country"
                            required
                        />
                        <mat-error
                            *ngIf="
                                addressDetailsFormGroup
                                    .get('country')
                                    .hasError('required')
                            "
                            >Country is required!</mat-error
                        >
                    </mat-form-field>
                </section>
                <section id="pincode-section">
                    <mat-form-field>
                        <mat-label>Landmark</mat-label>
                        <input
                            matInput
                            formControlName="landmark"
                            placeholder="Landmark"
                        />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Pin Code</mat-label>
                        <input
                            matInput
                            formControlName="pinCode"
                            type="number"
                            placeholder="Pincode"
                            required
                            maxlength="6"
                        />
                        <mat-error
                            *ngIf="
                                addressDetailsFormGroup
                                    .get('pinCode')
                                    .hasError('required')
                            "
                            >Pincode is required!</mat-error
                        >
                        <mat-error
                            *ngIf="
                                addressDetailsFormGroup
                                    .get('pinCode')
                                    .hasError('pattern')
                            "
                        >
                            Please enter a 6 digit pincode!
                        </mat-error>
                    </mat-form-field>
                </section>
            </form>
            <div class="stepper-actions">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

        <!-- Contact Details Step -->
        <mat-step [stepControl]="contactDetailsFormGroup">
            <ng-template matStepLabel>Contact Details</ng-template>
            <form [formGroup]="contactDetailsFormGroup" id="contactForm">
                <section id="contact-section">
                    <mat-form-field>
                        <mat-label>Mobile Number</mat-label>
                        <input
                            matInput
                            formControlName="mobile"
                            placeholder="Contact"
                            required
                            maxlength="10"
                        />
                        <mat-error
                            *ngIf="
                                contactDetailsFormGroup
                                    .get('mobile')
                                    .hasError('required')
                            "
                        >
                            Mobile is required!
                        </mat-error>
                        <mat-error
                            *ngIf="
                                contactDetailsFormGroup
                                    .get('mobile')
                                    .hasError('pattern')
                            "
                        >
                            Please enter a 10 digit mobile number!
                        </mat-error>
                    </mat-form-field>
                    <button
                        mat-raised-button
                        type="button"
                        (click)="sendMobileOtp()"
                        [disabled]="
                            contactDetailsFormGroup.get('mobile').invalid
                        "
                    >
                        Verify number
                    </button>
                    <mat-form-field
                        [ngStyle]="{
                            visibility: showOtpField[0] ? 'visible' : 'hidden'
                        }"
                    >
                        <mat-label>Mobile OTP</mat-label>
                        <input
                            matInput
                            formControlName="mobile_otp"
                            placeholder="Enter OTP recieved on mobile"
                            required
                        />
                        <mat-error
                            *ngIf="
                                contactDetailsFormGroup
                                    .get('mobile_otp')
                                    .hasError('required')
                            "
                        >
                            Mobile OTP is required!
                        </mat-error>
                        <mat-error
                            *ngIf="
                                contactDetailsFormGroup
                                    .get('mobile_otp')
                                    .hasError('pattern')
                            "
                        >
                            Enter 6 digit Mobile OTP!
                        </mat-error>
                        <mat-error
                            *ngIf="
                                contactDetailsFormGroup
                                    .get('mobile_otp')
                                    .hasError('invalidOtp')
                            "
                        >
                            Mobile OTP is invalid!
                        </mat-error>
                        <mat-error
                            *ngIf="
                                contactDetailsFormGroup
                                    .get('mobile_otp')
                                    .hasError('serverError')
                            "
                        >
                            Error processing Mobile OTP!
                        </mat-error>
                    </mat-form-field>
                    <mat-icon
                        [ngStyle]="{
                            visibility: showVerified[0] ? 'visible' : 'hidden'
                        }"
                        [svgIcon]="'verified'"
                        class="verified-icon"
                    ></mat-icon>
                </section>
                <section id="email-section">
                    <mat-form-field>
                        <mat-label>Email Address</mat-label>
                        <input
                            matInput
                            formControlName="email"
                            placeholder="Email"
                            required
                        />
                        <mat-error
                            *ngIf="
                                contactDetailsFormGroup
                                    .get('email')
                                    .hasError('required')
                            "
                        >
                            Email is required!
                        </mat-error>
                        <mat-error
                            *ngIf="
                                contactDetailsFormGroup
                                    .get('email')
                                    .hasError('email')
                            "
                        >
                            Enter a valid email!
                        </mat-error>
                    </mat-form-field>
                    <button
                        mat-raised-button
                        type="button"
                        (click)="sendEmailOtp()"
                        [disabled]="
                            contactDetailsFormGroup.get('email').invalid
                        "
                    >
                        Verify email
                    </button>
                    <mat-form-field
                        [ngStyle]="{
                            visibility: showOtpField[1] ? 'visible' : 'hidden'
                        }"
                    >
                        <mat-label>Email OTP</mat-label>
                        <input
                            matInput
                            formControlName="email_otp"
                            placeholder="Enter OTP recieved on email"
                            required
                        />
                        <mat-error
                            *ngIf="
                                contactDetailsFormGroup
                                    .get('email_otp')
                                    .hasError('required')
                            "
                        >
                            Email OTP is required!
                        </mat-error>
                        <mat-error
                            *ngIf="
                                contactDetailsFormGroup
                                    .get('email_otp')
                                    .hasError('pattern')
                            "
                        >
                            Enter 6 digit Email OTP!
                        </mat-error>
                        <mat-error
                            *ngIf="
                                contactDetailsFormGroup
                                    .get('email_otp')
                                    .hasError('invalidOtp')
                            "
                        >
                            Email OTP is invalid!
                        </mat-error>
                        <mat-error
                            *ngIf="
                                contactDetailsFormGroup
                                    .get('email_otp')
                                    .hasError('serverError')
                            "
                        >
                            Error processing Email OTP!
                        </mat-error>
                    </mat-form-field>
                    <mat-icon
                        [ngStyle]="{
                            visibility: showVerified[1] ? 'visible' : 'hidden'
                        }"
                        [svgIcon]="'verified'"
                        class="verified-icon"
                    ></mat-icon>
                </section>
                <section id="emergency-section">
                    <mat-form-field>
                        <mat-label>Emergency Contact Name</mat-label>
                        <input
                            matInput
                            formControlName="emergencyContactName"
                            placeholder="Emergency Contact Name"
                        />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Emergency Contact Number</mat-label>
                        <input
                            matInput
                            formControlName="emergencyContactNumber"
                            placeholder="Emergency Contact Number"
                        />
                    </mat-form-field>
                </section>
            </form>
            <div class="stepper-actions">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

        <!-- Patient Details Step -->
        <mat-step [stepControl]="patientDetailsFormGroup">
            <ng-template matStepLabel>Patient Details</ng-template>
            <form [formGroup]="patientDetailsFormGroup" id="patientForm">
                <section id="temp-section">
                    <mat-form-field>
                        <mat-label>Temperature</mat-label>
                        <input
                            matInput
                            formControlName="temperature"
                            placeholder="Temperature"
                            type="number"
                        />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Blood Pressure</mat-label>
                        <input
                            matInput
                            formControlName="bloodPressure"
                            placeholder="Blood Pressure"
                            type="number"
                        />
                    </mat-form-field>
                </section>
                <section id="height-section">
                    <mat-form-field>
                        <mat-label>Height</mat-label>
                        <input
                            matInput
                            type="number"
                            formControlName="height"
                            type="number"
                        />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Weight</mat-label>
                        <input
                            matInput
                            type="number"
                            formControlName="weight"
                            type="number"
                        />
                    </mat-form-field>
                </section>
            </form>
            <div class="stepper-actions">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="registerPatient()">Finish</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>
