<div class="flex flex-col justify-between m-8">
    <form
        [formGroup]="editPatientDetailsForm"
        class="flex flex-col justify-between"
    >
        <div class="row">
            <mat-form-field>
                <mat-label>Blood Pressure :</mat-label>
                <input
                    matInput
                    formControlName="bloodPressure"
                    class="w-full"
                />
            </mat-form-field>

            <mat-form-field class="mr-2">
                <mat-label>Temperature :</mat-label>
                <input matInput formControlName="temperature" class="w-full" />
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Heart Rate :</mat-label>
                <input matInput formControlName="heartRate" class="w-full" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Weight :</mat-label>
                <input matInput formControlName="weight" class="w-full" />
            </mat-form-field>
        </div>

        <div class="row mt-6 flex justify-end">
            <button
                type="submit"
                mat-stroked-button
                color="primary"
                (click)="editAssignedPatientDetails()"
            >
                Update
            </button>
        </div>
    </form>
</div>
