<mat-toolbar class="justify-between" color="primary">
    <span>&nbsp;</span>
    <a mat-button routerLink="ward_map">Admin Portal</a>
    <button mat-raised-button type="button" (click)="onLogout()">
        Log Out
    </button>
</mat-toolbar>

<div class="w-full flex flex-col items-center pt-6 pb-6">
    <div class="w-11/12 flex justify-between items-center">
        <a
            mat-button
            mat-raised-button
            color="primary"
            (click)="openAddDialog()"
            >Add</a
        >
    </div>

    <mat-tab-group
        class="w-11/12 mat-elevation-z4 mt-5"
        (selectedTabChange)="onTabChanged($event)"
        [selectedIndex]="selectedTabIndex"
        [disableRipple]="true"
        [preserveContent]="true"
    >
        <mat-tab label="Doctor">
            <div class="mat-elevation-z8 w-full">
                <section class="flex justify-center items-center p-4">
                    <mat-spinner
                        *ngIf="isLoading; else notLoadingDoctorContent"
                    ></mat-spinner>
                    <ng-template #notLoadingDoctorContent>
                        <div class="w-full overflow-x-auto">
                            <app-dynamic-table
                                [headers]="tableDoctorHeaders"
                                [data]="tableDataDoctor"
                                [headerAlias]="headerDoctorAlias"
                                [hasActions]="true"
                                [paginate]="true"
                                [filter]="true"
                                [title]="'Doctor\'s List'"
                            >
                                <ng-template #actionsTemplate let-doctor>
                                    <div>
                                        <button
                                            mat-stroked-button
                                            class="mr-3"
                                            color="primary"
                                            (click)="onDoctorEdit(doctor.id)"
                                        >
                                            Edit
                                        </button>
                                        <mat-slide-toggle
                                            class="ml-3"
                                            [checked]="doctor.isDisable"
                                            (change)="
                                                toggleDoctorStatus(doctor)
                                            "
                                        >
                                        {{ doctor.isDisable ? 'Enable' : 'Disable' }}
                                        </mat-slide-toggle>
                                    </div>
                                </ng-template>
                            </app-dynamic-table>
                        </div>
                    </ng-template>
                </section>
            </div>
        </mat-tab>
        <mat-tab label="Receptionist">
          <div class="mat-elevation-z8 w-full">
            <section class="flex justify-center items-center p-4">
                <mat-spinner
                    *ngIf="isLoading; else notLoadingReceptionistContent"
                ></mat-spinner>
                <ng-template #notLoadingReceptionistContent>
                    <div class="w-full overflow-x-auto">
                        <app-dynamic-table
                            [headers]="tableReceptionistHeaders"
                            [data]="tableDataReceptionist"
                            [headerAlias]="headerReceptionistAlias"
                            [hasActions]="true"
                            [paginate]="true"
                            [filter]="true"
                            [title]="'Receptionist\'s List'"
                        >
                            <ng-template #actionsTemplate let-receptionist>
                                <div>
                                    <button
                                        mat-stroked-button
                                        class="mr-3"
                                        color="primary"
                                        (click)="onReceptionistEdit(receptionist.id)"
                                    >
                                        Edit
                                    </button>
                                    <mat-slide-toggle
                                        class="ml-3"
                                        [checked]="receptionist.isDisable"
                                        (change)="
                                            toggleReceptionistStatus(receptionist)
                                        "
                                    >
                                        Disable
                                    </mat-slide-toggle>
                                </div>
                            </ng-template>
                        </app-dynamic-table>
                    </div>
                </ng-template>
            </section>
        </div>
        </mat-tab>
        <mat-tab label="Nurse">
            <div class="mat-elevation-z8 w-full">
                <section class="flex justify-center items-center p-4">
                    <mat-spinner
                        *ngIf="isLoading; else notLoadingNurseContent"
                    ></mat-spinner>
                    <ng-template #notLoadingNurseContent>
                        <div class="w-full overflow-x-auto">
                            <app-dynamic-table
                                [headers]="tableNurseHeaders"
                                [data]="tableDataNurse"
                                [headerAlias]="headerNurseAlias"
                                [hasActions]="true"
                                [paginate]="true"
                                [filter]="true"
                                [title]="'Nurse\'s List'"
                            >
                                <ng-template #actionsTemplate let-nurse>
                                    <div>
                                        <button
                                            mat-stroked-button
                                            class="mr-3"
                                            color="primary"
                                            (click)="onNurseEdit(nurse.id)"
                                        >
                                            Edit
                                        </button>
                                        <mat-slide-toggle
                                            class="ml-3"
                                            [checked]="nurse.isDisable"
                                            (change)="toggleNurseStatus(nurse)"
                                        >
                                            Disable
                                        </mat-slide-toggle>
                                    </div>
                                </ng-template>
                            </app-dynamic-table>
                        </div>
                    </ng-template>
                </section>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<mat-divider></mat-divider>
<footer class="h-24 w-full flex justify-center items-center bg-gray-500">
    <span class="text-white">{{ "All rights reserved@HADTeam16" }}</span>
</footer>
