table {
    width: 100%;
    border-collapse: collapse;
    tr {
        th,
        td {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }
    }
}
