<div class="h-full w-full flex flex-col items-center">
    <div class="mt-8">
        <h2>Your Ward Allocations</h2>
    </div>
    <mat-accordion class="w-2/3 mt-8">
        <mat-expansion-panel *ngFor="let patient of assignedPatients">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ patient.id }}
                </mat-panel-title>
                <mat-panel-description>
                    {{ patient.firstName }}
                </mat-panel-description>
                <mat-panel-description>
                    {{ patient.lastName }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            Blood Pressure: {{ patient.bloodPressure }}<br /><br />
            Temprature : {{ patient.temperature }}<br /><br />
            Height : {{ patient.height }}<br /><br />
            Weight : {{ patient.weight }} <br />
            <mat-action-row>
                <button
                    mat-button
                    color="primary"
                    (click)="editDetails(patient)"
                >
                    Edit Details
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
