<mat-toolbar color="primary" class="justify-between">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="appointments">Doctor Portal</a>
    <div class="flex justify-center items-center">
        <button
            mat-icon-button
            class="mr-4"
            (click)="chat = chat == 'visible' ? 'invisible' : 'visible'"
        >
            <mat-icon
                [svgIcon]="chat == 'visible' ? 'chat_filled' : 'chat_outlined'"
                >chat</mat-icon
            >
        </button>
        <div [matMenuTriggerFor]="menu">
            @if (user&&user.profilePicture) {
            <img
                [src]="user.profilePicture"
                alt="profilePhoto"
                class="mt-2 h-10 w-10 rounded-full"
            />
            }
        </div>
        <mat-menu #menu="matMenu">
            <ul class="menu-list">
                <li class="menu-item">
                    <a mat-button routerLink="my_profile">My Profile</a>
                </li>
                <li class="menu-item">
                    <a mat-button (click)="onLogout()">Log Out</a>
                </li>
            </ul>
        </mat-menu>
    </div>
</mat-toolbar>
<mat-sidenav-container class="h-full">
    <mat-sidenav #sidenav mode="push">
        <mat-nav-list (click)="sidenav.toggle()">
            <mat-list-item
                *ngFor="let route of routes"
                [routerLink]="route.link"
            >
                <mat-icon matListItemIcon [svgIcon]="route.icon" />
                <div matListItemTitle>{{ route.title }}</div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-chat [chat]="chat" (chatClosed)="chat = $event"></app-chat>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-divider></mat-divider>
<footer class="h-24 w-full flex justify-center items-center bg-gray-500">
    <span class="text-white">{{ "All rights reserved@HADTeam16" }}</span>
</footer>
