<div class="m-8 flex flex-col items-center justify-between">
    <mat-form-field>
        <mat-label>Select Ward</mat-label>
        <mat-select placeholder="Select Ward" formControlName="selectedWard">
            <mat-option *ngFor="let ward of availableWardIds" [value]="ward">
                {{ ward }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button
        mat-stroked-button
        color="primary"
        (click)="onAssignWard()"
    >
        Assign Ward
    </button>
</div>
