@if (isLoading) {
<div><mat-spinner></mat-spinner></div>
}@else {
<div class="h-5/6 p-4 flex flex-col items-center">
    <mat-button-toggle-group [formControl]="selectedFloor">
        <mat-button-toggle *ngFor="let floor of floors" [value]="floor">
            Floor {{ floor }}
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-grid-list
        class="h-5/6 w-full m-4"
        cols="5"
        rowHeight="fit"
        gutterSize="15px"
    >
        <mat-grid-tile
            elevateOnHover
            class="rounded-lg mat-elevation-z2"
            *ngFor="let ward of selectedFloorWards"
            (click)="openDialog(ward)"
        >
            <mat-card
                class="h-full w-full rounded-lg"
                [ngStyle]="{
                    'border-width': '4px',
                    'border-style': 'solid',
                    'border-color': ward.availableStatus ? '#90EE90' : '#FFFF8D'
                }"
            >
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>
                            Ward Number: {{ ward.wardNumber }}
                        </mat-card-title>
                        <mat-card-subtitle>
                            Status :{{
                                ward.availableStatus
                                    ? " Available"
                                    : " Occupied"
                            }}
                        </mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    @if (!ward.availableStatus) {
                    <table>
                        <tr>
                            <td>PID:</td>
                            <td>{{ ward.patientId }}</td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td>{{ getFullName(ward) }}</td>
                        </tr>
                    </table>
                    }
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
}
