@if (isLoading) {
<div class="h-4/5 w-full flex justify-center items-center">
    <mat-spinner></mat-spinner>
</div>
}@else {
<div class="h-5/6 p-4 flex flex-col items-center">
    <mat-button-toggle-group [formControl]="selectedFloor">
        <mat-button-toggle *ngFor="let floor of floors" [value]="floor">
            Floor {{ floor }}
        </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-grid-list
        class="h-5/6 w-full m-4"
        [cols]="isTablet ? 2 : 5"
        rowHeight="fit"
        gutterSize="15px"
    >
        <mat-grid-tile
            elevateOnHover
            class="rounded-lg mat-elevation-z2"
            *ngFor="let ward of selectedFloorWards"
            (click)="onSelectTile(ward)"
        >
            <mat-card
                class="h-full w-full rounded-lg"
                [ngStyle]="{
                    'border-width': '3px',
                    'border-style': 'solid',
                    'border-color': ward.availableStatus ? '#90EE90' : '#FFFF8D'
                }"
            >
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>
                            Ward # {{ ward.wardNumber }}
                        </mat-card-title>
                        <mat-card-subtitle>
                            <table>
                                <tr>
                                    <td>Status</td>
                                    <td>:</td>
                                    <td>
                                        {{
                                            ward.availableStatus
                                                ? " Available"
                                                : " Occupied"
                                        }}
                                    </td>
                                </tr>
                                @if (!ward.availableStatus) {
                                <tr>
                                    <td>PID</td>
                                    <td>:</td>
                                    <td>
                                        {{ ward.patientId }}
                                    </td>
                                </tr>
                                }
                            </table>
                        </mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
}
