<h2 mat-dialog-title>Doctor's Form</h2>
<mat-dialog-content class="scrollable-dialog-content">
  <div class="dialog-form">
    <form [formGroup]="editNurseForm">
      <div class="row mt-6">
        <mat-form-field class="mb-4 ml-8">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" [value]="tableDataNurse?.firstName">
        </mat-form-field>
        <mat-form-field class="mb-4 ml-4">
          <mat-label>Middle Name</mat-label>
          <input matInput formControlName="middleName" [value]="tableDataNurse?.middleName">
        </mat-form-field>
        <mat-form-field class="mb-4 ml-4 mr-8">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" [value]="tableDataNurse?.lastName">
        </mat-form-field>
      </div>
      <div class="row mt-4">
        <mat-form-field class="mb-4 ml-8">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" [value]="tableDataNurse?.age">
        </mat-form-field>
        <mat-form-field class="mb-4 ml-4">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" [value]="tableDataNurse?.gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mb-4 ml-4">
          <mat-label>Date of Birth</mat-label>
          <input matInput formControlName="dateOfBirth" [matDatepicker]="picker" [value]="tableDataNurse?.dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row mt-4">
        <mat-form-field class="mb-4 ml-8">
          <mat-label>Country</mat-label>
          <input matInput formControlName="country" [value]="tableDataNurse?.country">
        </mat-form-field>
        <mat-form-field class="mb-4 ml-4">
          <mat-label>State</mat-label>
          <input matInput formControlName="state" [value]="tableDataNurse?.state">
        </mat-form-field>
        <mat-form-field class="mb-4 ml-4 mr-8">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" [value]="tableDataNurse?.city">
        </mat-form-field>
      </div>
      <div class="row mt-4">
        <mat-form-field class="mb-4 ml-8">
          <mat-label>Address Line 1</mat-label>
          <input matInput formControlName="addressLine1" [value]="tableDataNurse?.addressLine1">
        </mat-form-field>
        <mat-form-field class="mb-4 ml-4">
          <mat-label>Address Line 2</mat-label>
          <input matInput formControlName="addressLine2" [value]="tableDataNurse?.addressLine2">
        </mat-form-field>
        <mat-form-field class="mb-4 ml-4 mr-8">
          <mat-label>Landmark</mat-label>
          <input matInput formControlName="landmark" [value]="tableDataNurse?.landmark">
        </mat-form-field>
      </div>
      <div class="row mt-4">
        <mat-form-field class="mb-4 ml-8">
          <mat-label>Pincode</mat-label>
          <input matInput formControlName="pinCode" [value]="tableDataNurse?.pinCode">
        </mat-form-field>
        <mat-form-field class="mb-4 ml-4">
          <mat-label>Contact</mat-label>
          <input matInput formControlName="contact" [value]="tableDataNurse?.contact">
        </mat-form-field>
      </div>
      <div class="row mt-4">
        <mat-form-field class="mb-4 ml-8">
          <mat-label>Profile Picture</mat-label>
          <input matInput formControlName="profilePicture" [value]="tableDataNurse?.profilePicture">
        </mat-form-field>
        <mat-form-field class="mb-4 ml-4">
          <mat-label>Emergency Contact Name</mat-label>
          <input matInput formControlName="emergencyContactName" [value]="tableDataNurse?.emergencyContactName">
        </mat-form-field>
        <mat-form-field class="mb-4 ml-4 mr-8">
          <mat-label>Emergency Contact Number</mat-label>
          <input matInput formControlName="emergencyContactNumber" [value]="tableDataNurse?.emergencyContactNumber">
        </mat-form-field>
      </div>
      <div class="row mt-3 text-center p-4">
        <button 
          mat-stroked-button
          type="submit"
          color="primary"
          (click)="onEditSaveNurse()">
          Save
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
