<div class="w-full ">
    <form [formGroup]="forgetPasswordDetailsForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="">
            <mat-form-field class="mb-4 mr-4">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" class="" />
                <mat-error *ngIf="forgetPasswordDetailsForm.get('email').hasError('required')">Enter Valid Email ID</mat-error>
            </mat-form-field>
            <button
                mat-raised-button
                type="button"
                (click)="sendOTPForForgetPasswordRequest()"
                [disabled]="forgetPasswordDetailsForm.get('email').invalid"
                >
                Send OTP
            </button>
        </div>
        <mat-spinner *ngIf="isLoading; else notLoadingOtpVerificationContent"></mat-spinner>
        <ng-template #notLoadingOtpVerificationContent>
            <mat-form-field class="mb-4 mr-4"
            [ngStyle]="{
                visibility: showOtpField ? 'visible' : 'hidden'
            }"
            >
                <mat-label>OTP </mat-label>
                <input matInput formControlName="otp" class="" />
                <mat-error *ngIf="forgetPasswordDetailsForm.get('otp').hasError('required')">Enter OTP</mat-error>
            </mat-form-field>
                <button
                    [ngStyle]="{
                        visibility: showOtpField ? 'visible' : 'hidden'
                    }"
                    mat-raised-button
                    type="button" 
                    (click)="verifyOTPForForgetPasswordRequest()" 
                    color="accent"
                    [disabled]="forgetPasswordDetailsForm.get('otp').invalid"
                    
                >
                    Verify OTP
                </button>
            </ng-template>
    </form>
</div>