<mat-grid-list class="h-5/6 m-8" cols="2" rowHeight="fit" gutterSize="32px">
    <mat-grid-tile
        *ngFor="let user of users; let i = index"
        (click)="tile_select(user)"
        (dbclick)="tile_doubleClick(user)"
        
    >
        <ng-template #tileInactiveContent>
            <div class="image-container">
                <img
                    [src]="'assets/covers/' + user + '.png'"
                    class="h-full w-full object-cover opacity-30"
                />
            </div>
            <div class="flex items-center z-10">
                <mat-icon class="mx-2" color="primary">{{
                    getIcon(user)
                }}</mat-icon>
                <span class="mx-2 text-2xl">{{
                    (user | titlecase) + " Login"
                }}</span>
            </div>
        </ng-template>
        <form
            *ngIf="tile_active[i]; else tileInactiveContent"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit(user)"
        >
            <mat-grid-tile-header>{{ user | uppercase }}</mat-grid-tile-header>

            <mat-spinner
                *ngIf="isLoading; else notLoadingContent"
            ></mat-spinner>

            <ng-template #notLoadingContent>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input
                        matInput
                        formControlName="email"
                        placeholder="Enter Your Username"
                    />
                    <mat-error
                        *ngIf="
                            loginForm.get('email').invalid &&
                            loginForm.get('email').touched
                        "
                    >
                        {{ getErrorMessage("email") }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        formControlName="password"
                        [type]="passHide ? 'password' : 'text'"
                        placeholder="Enter Your Password"
                    />
                    <button
                        mat-icon-button
                        matSuffix
                        type="button"
                        (click)="passHide = !passHide"
                    >
                        <mat-icon>{{
                            passHide ? "visibility_off" : "visibility"
                        }}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="
                            loginForm.get('password').invalid &&
                            loginForm.get('password').touched
                        "
                    >
                        {{ getErrorMessage("password") }}
                    </mat-error>
                </mat-form-field>
            </ng-template>
            
            <mat-grid-tile-footer>
                <button mat-raised-button type="submit" color="accent">
                    Login
                </button>
            </mat-grid-tile-footer>
            <div class="flex justify-end">
            <a mat-button color="primary" class="text-sm" (click)="forgotPassword()">Forgot Password?</a>
            </div>
        </form>
    </mat-grid-tile>
</mat-grid-list>
